.border {
  border: 5px solid black;
}

.border3 {
  border: 1px solid black;
}

.nav {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.navbar {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/*Below removed the margin spacing.*/
.navbar-default {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
