<div class="row">
  <div class="col-sm-2">
    <img class="imageIndex img-responsive" src="{{vm.product.imageURL}}"/>
    <p>
      <button type="button" name="button" class-"btn btn-success" ng-click="showDiv = !showDiv">Edit Product</button>
    </p>
  </div>
  <div class="col-sm-6">
    <h2>{{vm.product.name}}</h2>
    <p>
      {{vm.product.description | words: 5}}
    </p>
    <p>
      <button type="button" name="button" class="btn btn-success" ng-click="vm.addVote()"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></i> {{vm.product.votes}}</button>
      <button type="button" name="button" class="btn btn-warning"><i class="fa fa-comments" aria-hidden="true"></i> {{vm.product.comments.length}}</button>
    </p>
  </div>
  <div class="col-sm-4">
    <p>{{vm.product.categories[0].name}}<p>
      <p>{{vm.product.categories[1].name}}<p>
        <p>{{vm.product.categories[2].name}}<p>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>
            {{vm.product.description}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div ng-show="showDiv">
            <form name="productEditForm">
              <div class="form-group" ng-class="{'has-error' : productEditForm.productName.$touched && productEditForm.productName.$invalid}">
                <label for="productname">Project Name</label>
                <input type="text" name="productName" value="vm.product.name" class="form-control" data-ng-model="vm.product.name" required>
                <span ng-show="productEditForm.productName.$touched && productEditForm.productName.$invalid">*Required</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : productEditForm.productURL.$touched && productEditForm.productURL.$invalid }">
                <label for="projectimage">Project Image</label>
                <input type="text" name="productURL" value="vm.product.imageURL" class="form-control" data-ng-model="vm.product.imageURL" required>
                <span ng-show="productEditForm.productURL.$touched && productEditForm.productURL.$invalid"> *Required</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : productEditForm.productDescription.$touched && productEditForm.productDescription.$invalid }">
                <label for="productdescription">Product Description</label>
                <textarea value="vm.product.description" name="productDescription" class="form-control" rows="3" data-ng-model="vm.product.description" required></textarea>
                <span ng-show="productEditForm.productDescription.$touched && productEditForm.productDescription.$invalid">*Required</span>
              </div>
              <button type="submit" class="btn btn-default" data-ng-click="vm.update()">Update</button>
              <button type="submit" class="btn btn-default" data-ng-click="vm.destroy()">Delete</button>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr></hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Discussion</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr></hr>
        </div>
      </div>

      <div data-ng-repeat="comment in vm.product.comments">
        <div class="row">
          <div class="col-sm-12">
            <p>
              {{comment.body}}
            </p>
            <h4>Submitted by {{comment.author}}</h4>
            <button type="submit" class="btn btn-default" data-ng-click="vm.removeComment(comment.id)">Delete</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr></hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <form name="commentForm">
            <div class="form-group" ng-class="{ 'has-error' : commentForm.productComment.$touched && commentForm.productComment.$invalid }">
              <label for="productcomments">Comment</label>
              <textarea class="form-control" name="productComment" rows="5" data-ng-model="vm.comment.body" required></textarea>
              <span ng-show="commentForm.productComment.$touched && commentForm.productComment.$invalid"> *Required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : commentForm.commentName.$touched && commentForm.commentName.$invalid }">
              <label for="commentsname">Name</label>
              <input type="text" name="commentName" class="form-control" placeholder="Enter Your Name" data-ng-model="vm.comment.author" required>
              <span ng-show="commentForm.commentName.$touched && commentForm.commentName.$invalid"> *Required</span>
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="vm.addComment()">Submit Comment</button>
          </form>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
