<div class="row">
  <div class="col-sm-12">
    <h2>{{vm.product.name}}</h2>
    <p><a data-ui-sref="productEdit({id: vm.product.id})">Edit Product</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img src="{{vm.product.imageURL}}">
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-3">
    <h3>Author Profile</h3>
    <p>Jane Doe</p>
    <p>Rating: *****</p>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      {{vm.product.description}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr></hr>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2>Comments</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr></hr>
  </div>
</div>

<div data-ng-repeat="comment in vm.product.comments">
  <div class="row">
    <div class="col-sm-12">
      <p>
        {{comment.body}}
      </p>
      <h4>Submitted by {{comment.author}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr></hr>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <form ng-submit="addComment()">
      <div class="form-group">
        <label for="productcomments">Feedback</label>
        <textarea class="form-control" rows="5" ng-model="body"></textarea>
      </div>
      <div class="form-group">
        <label for="commentsname">Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Name" ng-model="author">
      </div>
      <button type="submit" class="btn btn-default">Submit Feedback</button>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
